<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- Bitbucket user and password -->
    <add key="User" value="Your_Username" />
    <add key="Password" value="Your_Password" />

    <!-- Folder on local machine where backups are saved -->
    <add key="BackupFolder" value="c:\bitbucket-backup" />
    
  </appSettings>
  
</configuration>