<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

<?define ProductId =  $(env.ProductId) ?>
<?define UpgradeCode = {59B6F924-ECF4-40BD-A132-537FC1CC0695} ?>

<?define ProductName = Bitbucket Backup ?>
<?define Manufacturer = Christian Specht ?>
<?define Description = A backup tool which clones all your Bitbucket repositories to your local machine. ?>

	<Product
			Id='$(var.ProductId)'
			Name='$(var.ProductName) $(env.VersionNumber)'
			Language='1033' 
			Version='$(env.VersionNumber)'
			Manufacturer='$(var.Manufacturer)'
			UpgradeCode='$(var.UpgradeCode)' >
			
		<Package 
				Description='$(var.Description)'
				Manufacturer='$(var.Manufacturer)'
				InstallerVersion='200'
				Compressed='yes' />	
		
		<PropertyRef Id='NETFRAMEWORK40CLIENT'/>
		<Condition Message='This setup requires the .NET Framework 4.0 Client Profile installed.'>
			<![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
		</Condition>
		
		<Media Id='1' Cabinet='bitbucketbackup.cab' EmbedCab='yes' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='$(var.ProductName)'>
					<Directory Id='DE' Name='de' />
				</Directory>
			</Directory>
			<Directory Id='ProgramMenuFolder' Name='Programs'>
				<Directory Id='ProgramMenuDir' Name='$(var.ProductName)'>
					<Component Id='ProgramMenuDir' Guid='{B1FE2182-00B0-4844-B7B7-FC99171397CF}'>
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue
						Root='HKCU' Key='Software\$(var.ProductName)'
						Type='string' Value='[INSTALLDIR]' KeyPath='yes'
						/>
						<Shortcut Id='ReadmeShortcut' Name='Readme' Target='[ARPREADME]' Directory='ProgramMenuDir' />
					</Component>
				</Directory>
			</Directory>
		</Directory>
		
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='Exe' Guid='{BAEDA8A6-4D81-43B9-AB3A-D3B201C44E60}'>
				<File Id='Exe' Name='BitbucketBackup.exe' DiskId='1' Source='release\bin\BitbucketBackup.exe' KeyPath='yes'>
					<Shortcut Id='BitbucketBackupExeShortcut' Directory='ProgramMenuDir' Name='Bitbucket Backup' WorkingDirectory='INSTALLDIR' Advertise='yes' Icon='logo.ico' IconIndex='0'/>
				</File>
			</Component>
			<Component Id='Config' Guid='{66443E3E-5E8F-4224-8633-2209F00B9FBC}'>
				<File Id='Config' Name='BitbucketBackup.exe.config' DiskId='1' Source='release\bin\BitbucketBackup.exe.config' KeyPath='yes' />
			</Component>
			<Component Id='MercurialNet' Guid='{9FB139E7-F9EA-4DB5-BC9E-D4539D9A2EA2}'>
				<File Id='MercurialNet' Name='Mercurial.Net.dll' DiskId='1' Source='release\bin\Mercurial.Net.dll' KeyPath='yes' />
			</Component>
			<Component Id='JsonNet' Guid='{442734E0-3D34-4FB9-AD45-FC63C495835F}'>
				<File Id='JsonNet' Name='Newtonsoft.Json.dll' DiskId='1' Source='release\bin\Newtonsoft.Json.dll' KeyPath='yes' />
			</Component>
			<Component Id='License' Guid='{9DE17CBD-96F0-487E-A964-014337A62763}'>
				<File Id='License' Name='License.rtf' DiskId='1' Source='release\bin\License.rtf' KeyPath='yes' />
			</Component>
			<Component Id='Readme' Guid='{B73CBD07-1FF2-4994-92C6-3B56068E01E3}'>
				<File Id='Readme' Name='readme.txt' DiskId='1' Source='release\bin\README.md' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id='DE'>
			<Component Id='ResDe' Guid='{20AEFC29-A683-46B2-8239-14135E250C33}'>
				<File Id='ResDe' Name='BitbucketBackup.resources.dll' DiskId='1' Source='release\bin\de\BitbucketBackup.resources.dll' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<Feature Id='Complete' Title='$(var.ProductName)' Level='1' Display='expand' ConfigurableDirectory='INSTALLDIR'>
			<ComponentRef Id='ProgramMenuDir' />
			<ComponentRef Id='Exe' />
			<ComponentRef Id='Config' />
			<ComponentRef Id='MercurialNet' />
			<ComponentRef Id='JsonNet' />
			<ComponentRef Id='License' />
			<ComponentRef Id='Readme' />
			<ComponentRef Id='ResDe' />
		</Feature>
		
		<MajorUpgrade
			DowngradeErrorMessage='A later version of [ProductName] is already installed. Setup will now exit.' />
		
		<Property Id='ARPCOMMENTS'>$(var.Description)</Property>
		<Property Id='ARPHELPLINK'>http://christianspecht.de/bitbucket-backup</Property>
		<Property Id='ARPREADME'>http://christianspecht.de/bitbucket-backup</Property>
		<Property Id='ARPURLINFOABOUT'>http://christianspecht.de/</Property>
		<Property Id='ARPURLUPDATEINFO'>http://christianspecht.de/bitbucket-backup</Property>
		<Property Id='ARPPRODUCTICON'>logo.ico</Property>
		<Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />
		<WixVariable Id='WixUILicenseRtf' Value='License.rtf' />
		<WixVariable Id="WixUIBannerBmp" Value='wix\wixbanner.bmp' />
		<WixVariable Id="WixUIDialogBmp" Value='wix\wixdialog.bmp' />
		<Icon Id='logo.ico' SourceFile='img\logo.ico' />
		<UIRef Id='WixUI_InstallDir' />
		<UIRef Id='WixUI_ErrorProgressText' />
	
	</Product>
</Wix>